extends ../layout
block content
	.news-detail
		.news-header #{newsHeader}
			a(href="/")
				.back goback
		ul.news-element
			each val in data
				.news-item-wraper
					li
						a(href= '#{val.docurl}')
							.news-item
								.news-title #{val.title}
								img.news-pic(src=val.imgurl)
								.news-time #{val.time}

					



			
